---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yelb-ui
  labels:
    app: yelb-ui
spec:
  replicas: {{.Values.ui.replicaCount}}
  selector:
    matchLabels:
      app: yelb-ui
  template:
    metadata:
      labels:
        app: yelb-ui
    spec:
      containers:
        - name: yelb-ui
          image: "{{.Values.ui.image.repository}}:{{.Values.ui.image.tag}}"
          imagePullPolicy: {{.Values.ui.image.pullPolicy}}
          ports:
            - containerPort: 80

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: yelb-appserver
  labels:
    app: yelb-appserver
spec:
  replicas: {{.Values.appserver.replicaCount}}
  selector:
    matchLabels:
      app: yelb-appserver
  template:
    metadata:
      labels:
        app: yelb-appserver
    spec:
      containers:
        - name: yelb-appserver
          image: >
            "{{.Values.appserver.image.repository}}
             :{{.Values.appserver.image.tag}}"
          imagePullPolicy: {{.Values.appserver.image.pullPolicy}}
          ports:
          - containerPort: 4567

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-server
  labels:
    app: redis-server
spec:
  replicas: {{.Values.redis.replicaCount}}
  selector:
    matchLabels:
      app: redis-server
  template:
    metadata:
      labels:
        app: redis-server
    spec:
      containers:
      - name: redis-server
        image: >
        "{{.Values.redis.image.repository}}
        :{{.Values.redis.image.tag}}"
        imagePullPolicy: {{.Values.redis.image.pullPolicy}}
        ports:
        - containerPort: 6379

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: yelb-db
  labels:
    app: yelb-db
spec:
  replicas: {{.Values.db.replicaCount}}
  selector:
    matchLabels:
      app: yelb-db
  template:
    metadata:
      labels:
        app: yelb-db
    spec:
      containers:
      - name: yelb-db
        image: "{{.Values.db.image.repository}}:{{.Values.db.image.tag}}"
        imagePullPolicy: {{.Values.db.image.pullPolicy}}
        ports:
        - containerPort: 5432
